{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} Comment ça marche ? {% endblock %}

{# Fil d'Ariane #}
{% set active = 'faq' %}

{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}

<div id="accordion" role="tablist">
  <div class="container col-xs-offset-3">

    <div class="card">
      <div class="card-header btn btn-info btn-block" role="tab" id="headingOne">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Quel est le principe du site ?
          </a>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <br>
          <p>C&rsquo;est un site permettant enfin le troc complet.</p>
          <p>Ici tu peux prêter et échanger des services ou des objets.</p>
          <p>Les échanges peuvent être non simultanés grâce à un système de bons d&rsquo;échange, les Weebs.</p>
          <p>Tu prêtes à X  aujourd&rsquo;hui et c&rsquo;est peut être Y ou Z qui demain te rendra un service. C&rsquo;est là tout l&rsquo;avantage des Weebs : pas de contrepartie immédiate !</p>
          <br>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header btn btn-info btn-block" role="tab" id="headingTwo">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Comment déposer une annonce ?
          </a>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <br>
          <p>Pour déposer une annonce clique sur &laquo;&nbsp;publie ton annonce&nbsp;&raquo; et laisse toi guider.</p>
          <p>Tu dois pour cela créer un compte.</p>
          <p>L&rsquo;inscription est gratuite.</p>
          <p>Astuce :</p>
          <ul>
            <li>Une photo rendra ton annonce beaucoup plus visible et sympa</li>
          </ul>
          <p>Si tu n’as pas de photo, tu peux prendre une image proposée par Google. Pour cela, fais une recherche dans Google avec le titre de ton annonce et affiche les images du résultat de recherche. Fais un clic droit sur l’image choisie afin de la copier.</p>
          <ul>
          <li>Pense à établir une description précise afin d&rsquo;éviter des questions complémentaires : taille, marque, etc&#8230;</li>
          <li>
          <p style="text-align: justify;">C’est toi qui choisis le nombre de Weebs en contrepartie de ton service, de ton prêt ou de ton don</p>
          <p style="text-align: justify;">Le nombre de Weebs dépend de chacun et ne peut en aucun cas être rapporté à une valeur en €uro</p>
          <p style="text-align: justify;">Tu peux aussi regarder les annonces en ligne afin de te donner une idée des contreparties pratiquées. A ce sujet une échelle de valeur des annonces les plus courantes sur le site est disponible dans la <a href="http://www.weebelule.fr/faq/" target="_blank">FAQ</a></p>
          </li>
          <li>
          <p style="text-align: justify;">Tu peux choisir de donner sans contrepartie. Dans ce cas, l&rsquo;annonce est à 0 Weebs, elle sera dite &laquo;&nbsp;gratuite&nbsp;&raquo;</p>
          </li>
          <li>
          <p style="text-align: justify;"> Lorsque tu prêtes un objet, nous te conseillons d’établir les modalités du prêt :</p>
          <p style="text-align: justify;">&#8211;           objet : détailler l’objet et l’état du bien</p>
          <p style="text-align: justify;">&#8211;           utilisation : pour quelle utilisation est destiné le prêt</p>
          <p style="text-align: justify;">&#8211;           durée</p>
          <p style="text-align: justify;">&#8211;           modalités de restitution</p>
          <p style="text-align: justify;">&#8211;           caution éventuelle : tu peux fixer une caution et les modalités de caution</p>
          <p style="text-align: justify;">&#8211;           responsabilité civile : demande un justificatif de responsabilité civile</p>
          <p style="text-align: justify;">&#8211;           …</p>
          <br>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header btn btn-info btn-block" role="tab" id="headingTree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapseTree" aria-expanded="true" aria-controls="collapseTree">
            Comment prendre contact pour réaliser un échange ?
          </a>
        </h5>
      </div>
      <div id="collapseTree" class="collapse" role="tabpanel" aria-labelledby="headingTree" data-parent="#accordion">
        <div class="card-body">
          <br>
          <p>Lorsqu’une annonce t&rsquo;intéresse, il te suffit de cliquer sur « réserver » afin d’être mis en relation via ton compte membre.</p>
          <p>Tu dois avoir suffisamment de Weebs dans ta tirelire pour réaliser l&rsquo;échange.</p>
          <p>La mise en relation se fait gratuitement par l’intermédiaire de la plateforme Weebelule. Le membre recevra un mail l&rsquo;informant de ta réservation et l&rsquo;invitant à prendre contact avec toi.</p>
          <p>Seuls les Weebers (membres ayant versé une cotisation pour participer aux frais de gestion du site) peuvent réserver des annonces gratuites.</p>
          <p>Les weebers peuvent aussi prendre contact directement avec le membre par le lien &laquo;&nbsp;prendre contact&nbsp;&raquo; dans chaque annonce, ils pourront ainsi obtenir plus d&rsquo;informations ou négocier les contreparties de l&rsquo;échange avant d&rsquo;effectuer une réservation.</p>
          <br>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header btn btn-info btn-block" role="tab" id="headingFour">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            Comment obtenir des Weebs ?
          </a>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          <br>
          <p>Tu as plusieurs possibilités d&rsquo;acquérir des Weebs :</p>
          <ul>
          <li>avoir réalisé des échanges en faveur d&rsquo;un membre en contrepartie de Weebs</li>
          <li>devenir Weeber en payant une cotisation annuelle de 20 € qui te permettra de bénéficier d’un crédit de 100 Weebs</li>
          <li>ou encore si tu es déjà Weeber, tu peux acheter des Weebs</li>
          <li>enfin, parraine des voisins : pour cela nous proposons un Kit de réunion pour présenter le site lors d’un café ou d’un apéro convivial. Contacte-nous pour en savoir plus</li>
          </ul>
          <br>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header btn btn-info btn-block" role="tab" id="headingFive">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
            Rechercher un service ou un objet.
          </a>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body">
          <br>
          <p>Pour effectuer une recherche près de chez toi, utilise le moteur de recherche en indiquant ton lieu de recherche. Pense bien à cliquer sur le lieu de recherche en bleu :-))</p>
          <p>Si aucune annonce ne correspond à ton besoin, tu peux publier ta recherche en publiant ton annonce dans la catégorie « je recherche »</p>
          <p>Pour une urgence ou un coup dur, tu peux nous demander de diffuser ton annonce sur le blog et la page facebook. Pour cela contacte nous via la page <a href="http://www.weebelule.fr/contact-us/" target="_blank">contact</a></p>
          <br>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header btn btn-info btn-block" role="tab" id="headingSix">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseSix">
            Le site est une version bêta.
          </a>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          <br>
          <p>Le site est une version béta, il a vocation à être amélioré, fais-nous remonter tes remarques.</p>
          <p>Le site a été construit et est géré par des bénévoles. Nous te demandons un peu d'indulgence sur le rendu et sur le traitement de certaines demandes. Si tu vois une coquille, surtout adresse nous l’info par le formulaire de <a href="http://www.weebelule.fr/contact-us/" target="_blank">contact</a>.</p>
          <br>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
