{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} Accueil {% endblock %}

{# fil d'ariane#}
{% set active = 'inscription' %}

{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}
    <!-- .row>.col-xs-6.col-xs-push-3 -->
    <div class="row">
        <div class="col-xs-6 col-xs-push-3">
            <h2 class="text-center">Inscription d'un Membre</h2 >
            <form action="{{ path('weebelule_inscription_post') }}" class="form-horizontal" method="post">

                <!-- Prénom et Nom -->
                <div class="form-group">
                    <div class="col-xs-6">
                        <input name="PRENOM" required class="form-control"
                            type="text" placeholder="Saisissez votre Prénom">
                    </div>
                    <div class="col-xs-6">
                        <input name="NOM" required class="form-control"
                            type="text" placeholder="Saisissez votre Nom">
                    </div>
                </div>

                <!-- Email et Mot de Passe -->
                <div class="form-group">
                    <div class="col-xs-6">
                        <input name="EMAIL" required class="form-control"
                            type="email" placeholder="Saisissez votre Email">
                    </div>
                    <div class="col-xs-6">
                        <input name="MDP" required class="form-control"
                            type="password" placeholder="*********">
                    </div>
                </div>

                <!-- Adresse -->
                <div class="form-group">
                    <div class="col-xs-4">
                        <input name="Adresse" required class="form-control"
                            type="text" placeholder="Saisissez votre adresse">
                    </div>
                    <div class="col-xs-4">
                        <input name="CP" required class="form-control"
                            type="text" placeholder="Saisissez le code postal">
                    </div>
                    <div class="col-xs-4">
                        <input name="Ville" required class="form-control"
                            type="text" placeholder="Saisissez la ville">
                    </div>
                </div>

              
                <!-- Role du Membre pour les droits d'accès -->
                <!-- à n'utiliser que pour l'admin, pour donner des droits si besoin à un nouvel admin-->
                <!-- <div class="form-group">
                    <div class="col-xs-12">
                        <select name="ROLEAUTEUR" class="form-control">
                            <option value="ROLE_AUTEUR" selected>ROLE_AUTEUR</option>
                            <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                        </select>
                    </div>
                </div> -->

                <input type="submit" class="btn btn-block btn-primary" value="M'inscrire">

            </form>
        </div>
    </div>
    {% block javascripts %}
    {% endblock %}
{% endblock %}
