.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}
    
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}
    
/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}
    
/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
    
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
    height: auto;
    padding: 15px;
    }
    .row.content {height:auto;} 
}

[class*="col"] { margin-bottom: 20px; }
img { width: 100%; }

/*
div {
    border: 1px solid red;
}

body {
  width: 100%;
  font-size: 12px;
    background-image: url(../img/stock-vector-icons-differences-visual-game-task-find-differences-solution-in-hidden-layer-vector-file-154809998.jpg);
}

#body-fond{
    background-color: rgba(255, 255, 255, .9);
    margin-top : 100px;
    height : 700px;
    border-radius: 50px;
}

body, html {
  height: 100%;
}

header{
    background: #84b418;
}

[class*="col"] { margin-bottom: 20px; }
img { width: 100%; }

#logo {
    height : 250px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
*/


/****************Page de Garde******************/

/*
h1 {
    text-align: center;
    color: white;
    margin-bottom: 100px;
    padding: 15px;
    border-radius: 50px;
    background-color: #33b5e5;
    font-size: 50px;
}

.circle-text {
  width: 50%;
  margin: auto;
}

.circle-text:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: rgba(169, 169, 169, 0.58);;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.circle-text div {
  float: left;
  width: 100%;
  padding-top: 15%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  color: white;
  font-size: 2em;
}

#ampoule,
#accueil,
#connexion {
  font-size: 4em;
}

.circle-text p {
  padding: 5%;
}

.circle-text a {
  text-decoration: none;
  color: white;
  font-size: 1em;
}

#wam2:hover {
    overflow: hidden;
    transform: scale(1.2);
}

h2 {
    color: #fff;
}
*/

/****************PAGE ACCUEIL*****************/

/*
#aside-left {
    width: 60px;
    float: left;
    margin-top: 100px;
}

#aside-right {
    float: right;
    height: 100%;
}

.kiki {
    margin-top: 100px;
}

#categorie {}
*/

/******************FOOTER*********************/
/*
footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    bottom: 0;
    position: fixed;
    width: 100%;
}*/
