{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} Connexion {% endblock %}

{# Fil d'Ariane #}

{% set active = 'connected' %}

{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}
  <div class="btn btn-success"> Félicitations vous êtes connecté </div>
{% endblock %}
