{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %}weebelule-inscription{% endblock %}

{# Fil d'Ariane #}
{% set active = 'inscription' %}

{# Block contenu défini dans base.html.twig #}
{% block contenu %}
<div class="row">
    <div class="col-xs-6 col-xs-push-3">
        <h2 class="text-center">Inscription d'un Membre</h2 >
        <form action="{{ path ('weebelule_inscription_post') }}" class="form-horizontal" method="post">

            <!-- Prénom et Nom -->
            <div class="form-group">
                <div class="col-xs-6">
                    <input name="PRENOMUSER" required class="form-control"
                        type="text" placeholder="Saisissez votre Prénom">
                </div>
                <div class="col-xs-6">
                    <input name="NOMUSER" required class="form-control"
                        type="text" placeholder="Saisissez votre Nom">
                </div>
            </div>

            <!-- Email et Mot de Passe -->
            <div class="form-group">
                <div class="col-xs-6">
                    <input name="EMAILUSER" required class="form-control"
                        type="email" placeholder="Saisissez votre Email">
                </div>
                <div class="col-xs-6">
                    <input name="MDPUSER" required class="form-control"
                        type="password" placeholder="*********">
                </div>
            </div>
            <div class="form-group">
              <div class="col-xs-1">
                <input  id="cgu" name="CGU" type="checkbox" required class="form-control">
              </div>
              <div class="center">
                <label for="cgu">J'accepte les
                <a href="http://www.weebelule.fr/cgu-2/" onclick="window.open(this.href, 'cgu', 'height=800 , width=900, to...no, resizable=yes, scrollbars=yes, status=no');return false;">Conditions Générales d'Utilisation</a>
                </label>
              </div>
            </div>

            <input type="submit" class="btn btn-block btn-primary" value="M'inscrire">

        </form>
    </div>
</div>
{% endblock %}
