html, body, .block {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}



span.roll {
	background:url(../img/Search-icon.png) center center no-repeat #000;
	height: 140px;
	position: absolute;
	width: 140px;
	z-index: 10;	
	-webkit-box-shadow: 0px 0px 4px #000;
	-moz-box-shadow: 0px 0px 4px  #000;
	box-shadow: 0px 0px 4px  #000; 
}

.first {
    position: relative;
    width: 100%;
}

.weeb {
    text-align: center;
    width : 100%;
    box-shadow: 0px 0px 20px black;
    background: white;
}

.weeb:hover {
  text-decoration: none;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
    box-shadow: 5px 5px 15px black;
}

/*******************images categories **************/
.middle {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.first:hover .image {
  opacity: 1;
}

.first:hover .middle {
  opacity: 0;
}



.text {
  background-color: #0099cc;
  color: white;
  font-size: 1.5em;
  padding: 10px 20px;
    text-shadow: 3px 3px 3px black;
    text-align: center;
    border-radius: 3px;
}

.navbar {
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: #0099cc;
    font-size: 2em;
    align-items : center;
    vertical-align: middle;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}


/***************** navbar ****************/
.navbar-brand{
    display: flex;
    height: auto;
}

.imgborder {
    padding-top: 50px;
}

/******************FOOTER*********************/
footer {
    background-color: #0099cc;
    color: white;
    padding: 15px;
    border-radius: 5px;

}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;} 
}

[class*="col"] { margin-bottom: 20px; }
img { width: 100%; }




/****************Page de Garde******************/



h1 {
    text-align: center;
    color: white;
    margin-bottom: 100px;
    padding: 15px;
    border-radius: 50px;
    background-color: #33b5e5;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 5px 5px 5px black inset; 
}

.circle-text {
    width: 50%;
    margin: auto;
}

.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-color: rgba(169, 169, 169, 1);;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.circle-text div {
    float: left;
    width: 100%;
    padding-top: 15%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    color: white;
    font-size: 1.5em;
}

#ampoule,
#accueil,
#connexion {
    font-size: 4em;
}

.circle-text p {
    padding: 5%;
}

.circle-text a {
    text-decoration: none;
    color: white;
    font-size: 1em;
}

#wam2:hover {
    overflow: hidden;
    transform: scale(1.2);
}


.positionNav {
    padding-top: 7rem;
}

.glyphicon-log-in {
    font-size: 2rem;
    padding-right: 
}

.positionBloc {
    margin-bottom: 3rem;
}

.imageFond {
    position: absolute;
    z-index: -500;
    width: 100%;
    height: 100%;
}

footer{
    z-index: 10;
}

/*****************Page Connection******************/

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.social-login{
	text-align:center;
	font-size:12px;
}
.social-login p{
	margin:15px 0;
}
.social-login ul{
/*
	margin:0;
	padding:0;
*/
    margin-bottom: 10%;
	list-style-type:none;
}
.social-login ul li{
	width:33%;
	float:left;
    clear:fix;
}
.social-login ul li a{
	font-size:13px;
	color:#fff;
	text-decoration:none;
	padding:10px 0;
	display:block;
}
.social-login ul li:nth-child(1) a{
	background:#3b5998;
}
.social-login ul li:nth-child(2) a{
	background:#e74c3d;
}
.social-login ul li:nth-child(3) a{
	background:#3698d9;
}
