{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} Connexion {% endblock %}

{# Fil d'Ariane #}

{% set active = 'annonceSuccess' %}

{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}
<div class="col-xs-5">

</div>
  <div class="btn btn-success"> Félicitations vous avez publié votre annonce </div>


              
{% endblock %}
