{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} Foire Aux Questions {% endblock %}

{# Fil d'Ariane #}
{% set active = 'cgu' %}

{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}

<div class="container">
  <h1>Conditions Générales d'Utilisation</h1>
</div>
<section class="ads-main-page">
  <div class="container">
	  <div class="span9 first" style="padding: 30px 0;">
			<div class="ad-detail-content">

				<h2 style="text-align: justify;">Préambule</h2>
        <p style="text-align: justify;">Les présentes Conditions Générales d&rsquo;Utilisation ont pour objet de définir les modalités et conditions dans lesquelles l&rsquo;Association Weebelule met à disposition de ses utilisateurs son site Internet (www.weebelule.fr) et les modalités et conditions dans lesquelles les utilisateurs y accèdent et l’utilisent.</p>
        <p style="text-align: justify;">Weebelule est un service de publication d’annonces entre particuliers, d&rsquo;échanges de biens et de services, accessible aux Membres de Weebelule par Internet.</p>
        <p style="text-align: justify;">En devenant Membre de Weebelule, vous vous engagez à respecter les présentes Conditions Générales d&rsquo;Utilisation.</p>
        <p style="text-align: justify;">L&rsquo;inscription et l&rsquo;utilisation du présent site supposent l&rsquo;acceptation pleine et entière des Conditions Générales d&rsquo;Utilisation par le Membre. En cochant la case désignant la phrase &laquo;&nbsp;Je certifie avoir lu et accepté les CGU du service Weebelule&nbsp;&raquo; située au bas de la page de l&rsquo;inscription pour la valider, le Membre reconnaît qu&rsquo;il est pleinement informé et qu&rsquo;il est tenu par    l&rsquo;ensemble des dispositions des présentes Conditions Générales d&rsquo;Utilisation.</p>
        <p style="text-align: justify;">Tout manquement à ces clauses contractuelles engagerait la responsabilité de l’utilisateur. Toute infraction aux présentes Conditions Générales d&rsquo;Utilisation peut entraîner l’exclusion immédiate du Membre, et ce à la seule volonté de Weebelule sans mise en demeure et sans remboursement du droit d’utilisation versé.</p>

        <h2 style="text-align: justify;">Article 1. Définitions</h2>
        <p style="text-align: justify;">Dans les présentes Conditions Générales d&rsquo;Utilisation, les mots ou expressions ci-dessous auront la signification suivante :</p>
        <p style="text-align: justify;">&laquo;&nbsp;Weebelule&nbsp;&raquo; désigne un ensemble de services ayant pour objet de favoriser l&rsquo;échange de biens et de services entre Membres.<br />
          &laquo;&nbsp;Utilisateur&nbsp;&raquo; désigne un utilisateur du service Weebelule valablement inscrit, abonné ou non à Weebelule ou un simple visiteur du site.<br />
          &laquo;&nbsp;Membre&nbsp;&raquo; et &laquo;&nbsp;Weeber&nbsp;&raquo; désignent un utilisateur du service Weebelule valablement inscrit et abonné à Weebelule.<br />
          &laquo;&nbsp;Abonnement&nbsp;&raquo; ou &laquo;&nbsp;Cotisation&nbsp;&raquo; désigne un forfait payant donnant accès à l&rsquo;ensemble des services de Weebelule.<br />
          &laquo;&nbsp;Service(s)&nbsp;&raquo; désigne l&rsquo;ensemble des services, payants ou gratuits, accessibles aux Membres de weebelule.<br />
          &laquo;&nbsp;Weebs&nbsp;&raquo; désigne la valeur d&rsquo;un bien ou service en vue de son échange.<br />
          &laquo;&nbsp;Conditions Générales d&rsquo;Utilisation&nbsp;&raquo; désigne le présent contrat.</p>

        <h2 style="text-align: justify;">Article 2. Accès et inscription aux services Weebelule</h2>
        <p style="text-align: justify;">Les équipements (ordinateur, logiciels, moyens de télécommunications, etc&#8230;) permettant l&rsquo;accès aux Services sont à la charge exclusive du Membre, de même que les frais de télécommunications induits par leur utilisation.</p>
        <p style="text-align: justify;">Pour être Membre de Weebelule, vous devez être âgé(e) au minimum de 18 ans, résider en France Métropolitaine ou à Monaco et remplir l&rsquo;ensemble des champs obligatoires figurant dans les formulaires d&rsquo;inscription. Le Membre garantit que les données qu&rsquo;il communique sont exactes et conformes à la réalité. Il s&rsquo;engage à informer Weebelule sans délai en cas de modification des données qu&rsquo;il a communiquées lors de son inscription et, le cas échéant, à procéder lui-même aux dites modifications au sein de son espace personnel du site Weebelule.</p>
        <p style="text-align: justify;">Dans le cadre de l&rsquo;utilisation des Services de Weebelule le Membre autorise Weebelule, à transmettre son identité et ses coordonnées postales, téléphoniques ou courriel au Membre inhérent à l&rsquo;échange.<br />
          Lorsque les conditions nécessaires à l&rsquo;inscription sont remplies, chaque Membre dispose d&rsquo;un identifiant (pseudonyme) et d&rsquo;un mot de passe qui sont strictement personnels et confidentiels et qui ne devront pas être communiqués ni partagés avec des tiers.<br />
          Sauf en cas de faute propre de Weebelule ou de défaillance technique du Service, le Membre sera responsable de l&rsquo;utilisation de ces éléments d&rsquo;identification par des tiers ou des actions ou déclarations faites par l&rsquo;intermédiaire de son compte personnel d&rsquo;utilisateur, qu&rsquo;elles soient frauduleuses ou non et garantit Weebelule contre toute demande à ce titre. Par ailleurs, Weebelule n&rsquo;a pas pour obligation et ne dispose pas des moyens techniques de s&rsquo;assurer de l&rsquo;identité des personnes s&rsquo;inscrivant à ses services. Si le Membre a des raisons de penser qu&rsquo;une personne utilise ses éléments d&rsquo;identification ou son compte, il devra en informer immédiatement Weebelule.</p>
        <p style="text-align: justify;">Conformément à l&rsquo;article L 121-20 du Code de la Consommation français, le Membre est informé qu&rsquo;il dispose d&rsquo;un délai de 7 (sept) jours francs à compter de la souscription d&rsquo;un Abonnement pour exercer son droit de rétractation, sans pénalité et sans motif. Le Membre désireux de faire valoir son droit de rétractation doit obligatoirement en exprimer la demande par lettre recommandée avec accusé de réception. Toutefois, conformément à l&rsquo;article L 121-20-2, 1° du Code de la Consommation français, le droit de rétractation ne peut plus être exercé dès lors que le Membre a accédé aux Services concernés.</p>

        <h2 style="text-align: justify;">Protection des données personnelles</h2>
        <p style="text-align: justify;">Conformément à la loi n°78-17 du 6 janvier 1978, dite « Informatique et libertés », weebelule.fr a fait l’objet d’une déclaration auprès de la Commission Nationale de l’Informatique et des Libertés (C.N.I.L) sous le numéro : 1865476 v 0. Conformément à l’article 27 de la loi n°78-17 du 6 janvier 1978, vous disposez à tout moment d’un droit d’accès et de rectification des données vous concernant. Ce droit peut être exercé par courrier postal ou courrier électronique (mél) auprès de : Weebelule 384 Chemin de la Passerelle, 38780, Oytier St Oblas, ou par email : cecile@weebelule.fr</p>
        <p style="text-align: justify;">Lorsqu&rsquo;un Membre souhaite parrainer un ami et fournit à Weebelule les coordonnées de ce dernier, il s&rsquo;engage à avoir préalablement obtenu de cet ami le consentement express de ce dernier au traitement de ses données par Weebelule, qui seront uniquement utilisées pour adresser, au nom et pour le compte du Membre ayant fourni à Weebelule ses coordonnées, un message téléphonique, postal ou électronique l&rsquo;informant de Weebelule.fr et des Services. Le Membre fournit ces informations volontairement et librement et sous sa responsabilité exclusive.</p>

        <h2 style="text-align: justify;">Article 3. Utilisation de Weebelule</h2>
        <p style="text-align: justify;">Une fois Membre, l&rsquo;Utilisateur bénéficiera d&rsquo;un accès aux Services disponibles sur Weebelule. Le prix et les modalités de paiement de l&rsquo;Abonnement sont accessibles lors de la présentation de ce dernier.</p>
        <p style="text-align: justify;">Les modalités de paiement sont détaillées dans l&rsquo;article Modalités de paiement et Tarif des présentes Conditions Générales d&rsquo;Utilisation.</p>
        <p style="text-align: justify;">Les principaux Services proposés par Weebelule sont les suivants :</p>
        <ul style="text-align: justify;">
          <li>Mettre à la disposition des Membres sur son site Internet www.weebelule.fr les annonces de biens et de services proposées par les membres.<br />
              Toute annonce soumise au site doit être validée par le responsable du site. Les annonces peuvent être refusées pour différentes raisons.<br />
              Le responsable du site peut être amené à corriger les annonces. L&rsquo;orthographe ou la grammaire. Mais aussi de retirer les numéros de téléphone ou adresses de courriel qui y figureraient pour éviter tout contact direct et protéger le membre du courriel/spam.<br />
              Passé un certain délai, il sera proposé au Membre de se positionner sur le renouvellement de son annonce. A défaut d’action de sa part son annonce pourra être supprimée.</li>
          <li>Mettre en relation les Membres dans le but de favoriser l&rsquo;échange de biens ou de services dont ils sont propriétaires.</li>
          <li>Proposer éventuellement un service d’alerte.</li>
          <li>Proposer aux membres qui le souhaitent d’acheter des Weebs, sans que cela constitue une obligation.<br />
              Pour acheter des Weebs, un Membre doit impérativement résider en France métropolitaine ou en Corse et utiliser les moyens de paiement proposés sur la Plateforme Weebelule.fr.<br />
              Les Weebs sont cumulés sur les comptes de Capital de Weebs ne sont ni cessibles, ni monétisables, ni convertibles en euros. Ils représentent la contrepartie d’une mise à disposition de produit ou de service d’un membre à un autre et sont le reflet des créances que les membres ont les uns sur les autres mais en aucun cas sur la plateforme Weebelule.fr. Les Weebs ne sont en aucun cas remboursables par weebelule.fr. En cas de cessation du service Weebelule.fr, seuls les Weebs achetés dans le mois précédent la cessation de service pourront faire l’objet d’un remboursement, à la condition que le membre propriétaire des Weebs ait été réellement demandeur de produits sur la plateforme weebelule.fr dans le mois précédant sa demande.<br />
              Les tarifs applicables lorsqu’un Membre achète des Weebs sont ceux affichés sur la plateforme Weebelule.fr au moment de la confirmation d’achat par un Membre.<br />
              Les tarifs indiqués sur la Plateforme Weebelule.fr sont des prix T.T.C. en EUROS tenant compte de la T.V.A. applicable au jour de la commande. Tout changement de taux de T.V.A. pourra être répercuté sur les prix des produits et services. Le prix des points n’est pas fixe et peut varier selon les quantités de points achetés, les codes promotionnels utilisés, ou encore d’autres critères de politique commerciale et de relation client de la plateforme Weebelule.fr.<br />
              Weebelule.fr se réserve le droit de modifier ses prix à tout moment, en fonction de sa politique commerciale ou de ses propres critères. Le prix figurant au catalogue le jour de la commande étant celui applicable.</li>
        </ul>
        <p style="text-align: justify;">Obligations du Membre<br />
          Les dispositions du présent article s&rsquo;appliquent sans préjudice de l&rsquo;article &laquo;&nbsp;Résiliation&nbsp;&raquo;.<br />
          Dans le cadre de l&rsquo;utilisation des Services, le Membre s&rsquo;engage à se conformer aux lois en vigueur, à respecter les droits des tiers et les dispositions des présentes Conditions Générales d&rsquo;Utilisation.</p>
        <p style="text-align: justify;">Le Membre a pour obligation de :</p>
        <p style="text-align: justify;">&#8211; Ne proposer à l&rsquo;échange que des biens dont il dispose la pleine et entière propriété.<br />
          &#8211; Ne proposer à l&rsquo;échange que des biens ou services qu&rsquo;il a l&rsquo;intention d&rsquo;échanger.<br />
          &#8211; Répondre rapidement à une demande d&rsquo;échange.<br />
          &#8211; Livrer le bien ou le service dans les conditions proposées dans l’annonce à ses frais.<br />
          &#8211; Livrer le bien ou le service qu&rsquo;on lui a commandé dans un délai raisonnable.</p>
        <p style="text-align: justify;">&#8211; Accuser réception du bien ou service qu&rsquo;il a commandé et réceptionné dans les meilleurs délais en transmettant son code de réservation afin de conclure rapidement le transfert de Weebs sur les comptes Membres.</p>
        <p style="text-align: justify;">&#8211; Valider rapidement l&rsquo;échange à réception du code de réservation dans son compte client.</p>
        <p style="text-align: justify;">Dans le cas de fraude caractérisée, Weebelule.fr communiquera toutes les informations nécessaires, y compris nominatives aux services compétents chargés de la répression des dites fraudes et infractions. Pour toute information complémentaire, consulter le site de la <a href="https://www.economie.gouv.fr/dgccrf" target="blank"> DGCCRF</a>.<br />
          En cas de non-respect des présentes Conditions Générales d’Utilisation et de Vente, Weebelule pourra retirer à tout moment les Produits saisis par un Membre et procéder sans réserve et à tout moment à une suspension de l’accès à la plateforme Weebelule du Membre sans que cela ne constitue un préjudice dont ce membre pourrait se prévaloir.</p>

        <h2 style="text-align: justify;">Article 4. Modalités de paiement et tarifs</h2>
        <p style="text-align: justify;">L’utilisation de certains services proposés par Weebelule.fr fait l’objet d’une cotisation annuelle ou mensuelle.<br />
          Plusieurs cotisations sont proposées : cotisation de 20 € TTC (vingt euros toutes taxes comprises) ou 1,70 € mensuel TTC (un euro et soixante-dix centimes toutes taxes comprises) ; cotisation de 30 € TTC (trente euros toutes taxes comprises) ou 2.50 € mensuel TTC (deux euros et cinquante centimes toutes taxes comprises).</p>
        <p style="text-align: justify;">Au coût d’accès aux services peut être intégré dans l’abonnement annuel l’attribution de Weebs permettant de solliciter des échanges dès validation de l’abonnement.</p>
        <p style="text-align: justify;">Les Utilisateurs peuvent acquérir un Abonnement par paiement Paypal. L&rsquo;Utilisateur accède à un espace dédié mis à disposition par Paypal, lequel assure la sécurité et l’enregistrement de l’ordre de paiement. A cet égard, l&rsquo;Utilisateur reconnaît expressément que la communication de son numéro de carte bancaire à Weebelule vaut autorisation de débit de son compte à concurrence du produit commandé.</p>
        <p style="text-align: justify;">L&rsquo;acquisition d&rsquo;un Abonnement sur le compte du Membre est quasiment simultanée à partir de la validation de la transaction par Paypal.</p>
        <p style="text-align: justify;">L&rsquo;accès aux Services Weebelule proposés au Membre prend fin 365 (trois cent soixante-cinq) jours après acquisition d&rsquo;un Abonnement annuel et 30 (trente) jours après la validation d’un abonnement mensuel à l’exception des abonnements mensuels réalisés en février qui prennent fin 28 (vingt-huit) jours après la validation.</p>

        <h2 style="text-align: justify;">Article 5. Responsabilité et garantie</h2>
        <p style="text-align: justify;">Pour utiliser les Services, le Membre doit posséder un équipement, des logiciels, et des paramétrages nécessaires au bon fonctionnement de Weebelule.<br />
          Le Membre doit disposer des compétences, des matériels et des logiciels requis pour l&rsquo;utilisation d&rsquo;Internet et reconnaît que les caractéristiques et les contraintes d&rsquo;Internet ne permettent pas de garantir la sécurité, la disponibilité et l&rsquo;intégrité des transmissions de données durant leur transit sur Internet.<br />
          Weebelule ne garantit pas que les Services soient utilisables si le fournisseur d&rsquo;accès Internet du Membre se montre défaillant dans l&rsquo;accomplissement de sa propre prestation.<br />
          Dans ces conditions, Weebelule n&rsquo;est pas responsable d&rsquo;un non fonctionnement, d&rsquo;une impossibilité d&rsquo;accès, ou de mauvaises conditions d&rsquo;utilisation du site Weebelule.fr imputables à un équipement non adapté, à des dysfonctionnements internes au fournisseur d&rsquo;accès du Membre, à l&rsquo;encombrement du réseau Internet, et pour toute autre raison extérieure.<br />
          Weebelule se réserve la possibilité de rendre ses Services momentanément inaccessibles, pour quelque cause que ce soit, notamment afin de réaliser des travaux de maintenance, sans que les Utilisateurs puissent prétendre à une quelconque indemnité pour quelque cause que ce soit et de quelque nature que ce soit.<br />
          Weebelule ne pourra être tenu pour responsable d’un dommage éventuel subi par un Membre, notamment : pertes d’exploitation ou d’informations. Weebelule ne pourra être tenu pour responsable d’un éventuel dysfonctionnement, panne, retard ou interruption de l’accès à ses sites et au réseau Internet en général.</p>
        <p style="text-align: justify;">Les informations fournies par un Membre à Weebelule doivent être exactes et conformes à la réalité.</p>
        <p style="text-align: justify;">Il est expressément convenu que Weebelule est soumis à une obligation de moyens dans le cadre de l’exécution du contrat.</p>
        <p style="text-align: justify;">Au titre des Conditions Générales d’Utilisation et de Vente, la responsabilité de Weebelule ne pourra en aucun cas être engagée pécuniairement sur la valeur des contreparties en Weebs des Produits et services échangés sur la Plateforme Weebelule. Chaque membre ne devra disposer à l’échange que des biens et services dont il est prêt à céder la propriété sans pour autant être assuré d’en trouver l’équivalent en valeur sur Weebelule. Aussi il est       demandé de ne proposer à l’échange sur Weebelule que des biens ou services dont le membre n’a pas un usage quotidien et nécessaire (exemple d&rsquo;annonce à proscrire : véhicule utilisé pour les trajets travail).<br />
          Weebelule n’est par ailleurs, en aucun cas vendeur, revendeur ou fournisseur des produits et services dans le cadre des échanges et transactions entre particuliers et n’entre pas, sauf mention contraire particulière en possession des dits produits. Weebelule ne peut garantir que le Produit ou Service d’un Membre Détenteur satisfera le Membre Demandeur et ne peut non plus garantir au Membre Détenteur que le Produit ne sera pas retourné ou que l’Échange sera annulé par le Membre Demandeur.<br />
          Weebelule ne peut être tenu pour responsable de (et des conséquences de) l&rsquo;exactitude ou de l&rsquo;inexactitude des informations et contenus fournis par les autres Membres et/ou le Membre lui-même</p>
        <p style="text-align: justify;">Weebelule ne peut être tenu pour responsable :<br />
          &#8211; Si dans le cadre de la demande d&rsquo;échange initiée par le Membre, ce dernier ne reçoit qu&rsquo;une faible réponse ou une absence de réponse.<br />
          &#8211; Si les biens ou services reçus ne sont pas conformes par rapport à la description de ces mêmes biens ou services dans les annonces Weebelule, si les biens reçus sont détériorés, si des problèmes surviennent lors de l&rsquo;expédition ou de la réception.</p>
        <p style="text-align: justify;">Le Membre expéditeur assume seul la responsabilité du bien ou du service jusqu’à sa livraison au Membre destinataire à l’adresse de livraison convenu. Il est seul responsable de la bonne exécution de la livraison, le bien ou la prestation de service transite donc à ses risques et à ses frais.<br />
          Chaque utilisateur doit s’assurer avant un échange que les assurances des deux membres impliqués dans l’échange couvrent les risques qui y sont liés (assurance individuelle, responsabilité civile…). Weebelule ne pourra être tenu responsable en cas d’incident ou d’accident qui surviendrait durant un échange.<br />
          La mauvaise qualité d’un service n‘est en aucun cas la responsabilité de Weebelule.fr et de son exploitant. Weebelule.fr est un simple service de mise en relation entre particulier sans garantie de résultat.</p>
        <p style="text-align: justify;">Le site contient des liens donnant accès à d’autres sites édités et gérés par des tiers. Weebelule ne pourra être tenu responsable directement ou indirectement dans le cas où les dits sites tiers ne respecteraient pas les dispositions légales et réglementaires en vigueur, ainsi que des conséquences de ce non-respect.</p>

        <h2 style="text-align: justify;">Article 6. Résiliation</h2>
        <p style="text-align: justify;">Chaque Membre peut mettre fin à son inscription à Weebelule.fr en demandant la clôture de son compte à tout moment auprès de Weebelule, sans frais autres que ceux liés à la transmission de sa demande et sans motif. Cette demande sera réputée effectuée le jour ouvré suivant la réception par Weebelule de la demande de clôture du compte concerné.<br />
          Cette demande n&#8217;emporte pas le remboursement au Membre de la période restant à courir jusqu&rsquo;à l&rsquo;échéance de l&rsquo;Abonnement du Membre ni le remboursement de frais engagés pour l’acquisition de Weebs.<br />
          Sans préjudice des autres dispositions des présentes, en cas de manquement grave du Membre, Weebelule résilie le compte du Membre sans préavis ni mise en demeure. Cette résiliation produit les mêmes effets que celle décidée par le Membre.<br />
          Chaque Membre qui déménagerait et ne résiderait plus en France Métropolitaine ou à Monaco mettrait de ce fait un terme immédiat à son Abonnement sans pouvoir prétendre au remboursement de la période restant à courir jusqu&rsquo;à l&rsquo;échéance de l&rsquo;Abonnement du Membre.<br />
          Sans préjudice des autres dispositions des présentes, en cas de manquement du Membre, Weebelule résilie le compte du Membre 7 (sept) jours après l&rsquo;envoi au Membre d&rsquo;un courrier électronique lui demandant de se conformer aux présentes Conditions Générales d&rsquo;Utilisation resté infructueux.<br />
          Cette résiliation interviendra sans préjudice de tous les dommages et intérêts qui pourraient être réclamés par Weebelule au Membre ou ses ayants droit et représentants légaux en réparation des préjudices éventuels subis par Weebelule ou ces derniers du fait de tels manquements.<br />
          Le Membre sera informé par courrier électronique de la résiliation. Les données relatives au Membre seront détruites à sa demande ou à l&rsquo;expiration des délais légaux courant à compter de la résiliation du compte du Membre.</p>

        <h2 style="text-align: justify;">Article 7. Convention entre le Membre et Weebelule</h2>
        <p style="text-align: justify;">Ces Conditions Générales d&rsquo;Utilisation constituent un contrat régissant les relations entre le Membre et Weebelule. Elles annulent et remplacent toutes les dispositions antérieures non expressément visées ou annexées et constituent l&rsquo;intégralité des droits et obligations de Weebelule et du Membre relatifs à leur objet.<br />
          Si une ou plusieurs stipulations des présentes Conditions Générales d&rsquo;Utilisation était déclarée nulle en application d&rsquo;une loi, d&rsquo;un règlement ou à la suite d&rsquo;une décision définitive d&rsquo;une juridiction compétente, les autres stipulations garderont toute leur force et leur portée, dans la mesure permise par ladite décision. En outre, le fait pour une Partie de ne pas se prévaloir d&rsquo;un manquement de l&rsquo;autre Partie à l&rsquo;une quelconque des dispositions des présentes Conditions Générales d&rsquo;Utilisation ne saurait s&rsquo;interpréter comme une renonciation de sa part à se prévaloir dans l&rsquo;avenir d&rsquo;un tel manquement.</p>

        <h2 style="text-align: justify;">Article 8. Modifications de Weebelule ou des Conditions d&rsquo;utilisation</h2>
        <p style="text-align: justify;">Weebelule se réserve le droit de modifier, librement et à tout moment, les Conditions Générales d’Utilisation du site Weebelule.fr. Chaque internaute se connectant au site Weebelule.fr est invité à consulter régulièrement les présentes conditions d’utilisation afin de prendre connaissance de changements éventuels. L’utilisation renouvelée du site au fur et à mesure de la modification de ces conditions d’utilisation constitue l’acceptation, par chaque utilisateur, des Conditions Générales d’Utilisation en vigueur.</p>

        <h2 style="text-align: justify;">Article 9. Droit applicable, attribution de juridiction</h2>
        <p style="text-align: justify;">Ces Conditions Générales d&rsquo;Utilisation sont régies, interprétées et appliquées conformément au droit français, la langue d&rsquo;interprétation étant la langue française en cas de contestation sur la signification d&rsquo;un terme ou d&rsquo;une disposition des présentes Conditions Générales d&rsquo;Utilisation.</p>

        <h2 style="text-align: justify;">Article 10. Qui sommes nous ?</h2>
        <p style="text-align: justify;">Le site est édité par :<br />
          L’association Weebelule, association loi 1901, dont l&rsquo;objet est l&rsquo;action en faveur de la protection de l&rsquo;environnement et du cadre de vie.<br />
          L’association a fait l’objet d’une déclaration et publication au JO à la sous-préfecture de Villefranche sur Saône en date du 14 septembre 2015.</p>
        <p style="text-align: justify;">Weebelule est domiciliée à l’adresse suivante :<br />
          Chez Cécile Davy, 384 chemin de la Passerelle, 38780, Oytier St Oblas,<br />
          Téléphone 04 69 32 62 62,<br />
          Adresse email : cecile@weebelule.fr</p>
        <p style="text-align: justify;">La responsable de publication est :<br />
          Cécile Davy,<br />
          Adresse email : cecile@weebelule.fr</p>
        <p style="text-align: justify;">Le site est hébergé par :<br />
          Ivan Berthelot<br />
          69380 Charnay</p>

        <h2 style="text-align: justify;">Article 11 : Propriété intellectuelle</h2>
        <p style="text-align: justify;">&#8211; Droits d’auteur et droits voisins<br />
          L’ensemble des éléments constituant de Weebelule.fr (textes, graphismes, logiciels, photographies, images, vidéos, sons, plans, noms, logos, marques, créations et oeuvres protégeables diverses, bases de données, etc.) et de ses sites associés ainsi que le site lui-même, relèvent des législations françaises et internationales sur le droit d’auteur et sur les droits voisins du droit d’auteur (notamment les articles L122-4 et L122-5. du Code de la Propriété Intellectuelle).<br />
          Ces éléments sont la propriété exclusive de Weebelule édité par l’association loi 1901 Weebelule, hormis les éléments réalisés par des intervenants extérieurs au site Weebelule.fr n’ayant pas cédé leurs droits d’auteur.<br />
          En conséquence, l’utilisateur du site Weebelule.fr s’engage à ne pas :<br />
          • Utiliser ou interroger le site Weebelule pour le compte ou au profit d’autrui .<br />
          • Reproduire en nombre, à des fins commerciales ou non, des informations ou des petites annonces présentes sur le site Weebelule.<br />
          • Intégrer tout ou partie du contenu du site Weebelule dans un site tiers, à des fins commerciales ou non.<br />
          • Utiliser un robot, notamment d’exploration (spider), une application de recherche ou récupération de sites Internet ou tout autre moyen permettant de récupérer ou d’indexer tout ou partie du contenu du site Weebelule excepté en cas d’autorisation expresse et préalable de Weebelule;<br />
          • Copier les informations sur des supports de toute nature permettant de reconstituer tout ou partie des fichiers d’origine.<br />
          • Weebelule autorise régulièrement et expressément des reproductions partielles de ses articles (ouvrages scolaires, ONG, associations, …) mais uniquement après en avoir reçu une demande écrite (email ou courrier).</p>
        <p style="text-align: justify;">&#8211; Commentaires, communication, critiques, articles, « posts »<br />
          Tous les avis déposés par les Utilisateurs de Weebelule sont surveillés en permanence et modérés par l’équipe de Weebelule. Dès lors que les propos enfreignent la loi et l’éthique (publicité abusive, propos diffamatoires, insultes, commentaires hors contexte…) ou qu’un soupçon d’utilisation frauduleuse des services existe, Weebelule se réserve le droit de refuser ou de modifier le ou les contenus concernés.<br />
          Les personnes qui déposent des contenus (textes, commentaires, photos, vidéos, sons, etc.) sur Weebelule.fr reconnaissent à weebelule le droit d’en faire usage total ou partiel sur internet en en cédent la propriété intellectuelle et le droit d’usage et de reproduction.<br />
          Toute utilisation non expressément autorisée d’éléments du site weebelule.fr entraîne une violation des droits d’auteur et constitue une contrefaçon. Elle peut aussi entraîner une violation des droits à l’image, droits des personnes ou de tous autres droits et réglementations en vigueur. Elle peut donc engager la responsabilité civile et/ou pénale de son auteur. Weebelule se réserve la possibilité de saisir toutes voies de droit à l’encontre des personnes qui n’auraient pas respecté les interdictions contenues dans le présent article.<br />
          En cas de non-respect des présentes Conditions Générales d’Utilisation et de Vente, Weebelule peut retirer à tout moment les contenus, annonces, produits, proposés sur le site par un internaute ou par un Membre et procéder sans réserve et à tout moment à une suspension de l’accès à la Plateforme weebelule du Membre sans que cela ne constitue un préjudice dont ce membre pourrait se prévaloir.<br />
          &#8211; Droits du producteur de base de données<br />
          Weebelule est le producteur de la base de données constituée par le site weebelule.fr, au sens de l’article L 341-1 et suivants du Code de la Propriété Intellectuelle. Toute extraction ou utilisation du contenu de la base non expressément autorisée peut engager la responsabilité civile et/ou pénale de son auteur. L’association se réserve la possibilité de saisir toutes voies de droit à l’encontre des personnes qui n’auraient pas respecté cette interdiction.<br />
          &#8211; Droit de marque<br />
          Les dénominations et logotype Weebelule sont des marques déposées, propriétés de l’association. Toute utilisation non expressément autorisée peut engager la responsabilité civile et/ou pénale de son auteur. Weebelule se réserve la possibilité d’exercer toutes voies de droit à l’encontre des personnes qui porteraient atteinte à ses droits.</p>

	    </div> <!--fin de la Div Ad detail-->
	  </div><!--fin de la Div span9-->
	</div> <!--fin de la Div Container-->
</section>


{% endblock %}
