{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} Accueil {% endblock %}

{# fil d'ariane#}
{% set active = 'contact' %}

{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}

<div>
  Bien joué
</div>

{% endblock %}
{% block javascripts %}

{% endblock %}
