{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} Connexion {% endblock %}

{# Fil d'Ariane #}
{% set active = 'connexion' %}

{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}
    <!-- .row>.col-xs-6.col-xs-push-3 -->
    <div class="row">
        <div class="col-xs-6 col-xs-push-3">
            <h2 class="text-center">Vous êtes déconnecté</h2 >


        </div>
    </div>
{% endblock %}
