{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} Foire Aux Questions {% endblock %}

{# Fil d'Ariane #}
{% set active = 'mentions-legales' %}

{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}

<h2>Mentions Légales</h2>
<br>

<p>RAISON SOCIALE : Weebelue</p><br>
<p>FORME JURIDIQUE : Association Loi 1901 à but non lucratif, dont l&rsquo;objet est l&rsquo;action en faveur de la protection de l&rsquo;environnement et du cadre de vie.</p><br>
<p>ADRESSE : 384 Chemin de la passerelle, 38780, Oytier St Oblas</p><br>
<p>MAIL : cecile@weebelule.fr</p><br>

<p>RESPONSABLE DE PUBLICATION : Cécile DAVY <cecile@weebelule.fr></p><br>


<p>HEBERGEMENT : OVH SAS</p><br>
<p>ADRESSE : 2 rue Kellerman BP 80157 ROUBAIX CEDEX 1</p><br>
<p>TEL : 1007</p><br>
<p>MAIL : cil@ovh.net</p><br>

<p>Enregistrement auprès de la CNIL sous le numéro 1865476 v 0</p><br>
<p>Conformément à la loi Informatique et Libertés du 6 Janvier 1978 modifiée, vous possédez un droit d'accès, de rectification et de suppression des données vous concernant. Vous pouvez adresser votre demande à cecile@weebelule.fr</p>


{% endblock %}
